.item {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 0.125rem 0.35rem 0.125rem 0.125rem;
  margin-bottom: 0.1rem;
  cursor: pointer;
  align-items: center;
  text-overflow: clip;
  width: fit-content;
  border-radius: 5px;
  z-index: 10;

  &:hover {
    background-color: rgba(253,195,0,0.4);
  }
}

.item-vertical-line {
  position: absolute;
  width: 1px;
  background-color: darkgrey;
  left: 0.115rem;
  bottom: 0.45rem;
  top: -0.55rem;
  z-index: -1;
}

.item-horizontal-line {
  position: absolute;
  height: 1px;
  width: 1.27rem;
  background-color: red;
  left: 0.17rem;
  top: 0.9rem;
  z-index: -1;
}

.last-item {
  margin-bottom: 0.2rem !important;
}

.item-selected {
  background-color: #fdc300;
  &:hover {
    background-color: #fdc300;
  }
}

.item-selected-line {
  background-color: red;
}

.item-child {
  margin-left: 0.35rem;
  padding-inline-start: 0.45rem;
  cursor: pointer;
  position: relative;
}

.item-child-node-icon {
  margin-inline-start: 1.5rem;
  margin-inline-end: 0.25rem;
}
.child-container {
  margin-bottom: 0.25rem;
}
.no-children {
  margin-left: 1rem;
}
