.item {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 0.125rem 0.35rem 0.125rem 0.125rem;
  cursor: pointer;
  align-items: center;
  text-overflow: clip;
  width: fit-content;
  border-radius: 5px;

  &:hover {
    background-color: rgba(253,195,0,0.4);
  }
}

.last-item {
  margin-bottom: 0.2rem !important;
}

.item-selected {
  background-color: #fdc300;
  &:hover {
    background-color: #fdc300;
  }
}

.item-child {
  border-left: 1px solid darkgrey;
  margin-left: 0.35rem;
  padding-inline-start: 0.45rem;
  cursor: pointer;
}

.item-child-node {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  border-left: 1px solid darkgray;
  margin-inline-start: 0.335rem;
  padding-inline-start: 0.75rem;
  cursor: pointer;
}

.item-child-node-icon {
  margin-inline-start: 1.5rem;
  margin-inline-end: 0.25rem;
}
.child-container {
  margin-bottom: 0.25rem;
}
.no-children {
  margin-left: 12px;
}
