<div
  class="item"
  [ngClass]="{'item-selected': item.currentlySelected, 'last-item': lastChild, 'no-children': !item.hasChildren}"
  (click)="onClick()">
  <app-tree-icon [item]="item" [expanded]="expanded"></app-tree-icon>
  <div class="item-name">{{ item.name }}</div>
</div>
@if (expanded) {
  @if (item.hasChildren) {
    <div class="child-container">
      <div *ngFor="let child of item.children; let last = last" class="item-child">
        <app-tree-item [item]="child" [lastChild]="last"></app-tree-item>
      </div>
    </div>
  }
}
