<div class="sft-container" [ngClass]="{'no-chevron' : !item.hasChildren()}" [style]="this.optionsService.getOptions().styles?.treeIcon" >
  @if (item.hasChildren()) {
    <div class="sft-chevron-container">
      @if (expanded) {
        <i class="bi bi-chevron-down sft-chevron" [style]="this.optionsService.getOptions().styles?.chevron"></i>
      } @else {
        <i class="bi bi-chevron-right sft-chevron" [style]="this.optionsService.getOptions().styles?.chevron"></i>
      }
    </div>
  }
  <div class="sft-icon-container">
    @if (item.icon) {
      <img [src]="item.icon" alt="" class="sft-icon">
    } @else if (item.hasChildren()  && !item.extension) {
      <i class="bi bi-folder sft-icon"></i>
    } @else if (hasExtension('properties')) {
      <i class="bi bi-gear sft-icon"></i>
    } @else if (item.extension) {
      <i class="bi bi-filetype-{{item.extension.replace('.', '')}} sft-icon"></i>
    } @else {
      <i class="bi bi-file-earmark sft-icon"></i>
    }
  </div>
</div>
