<div class="container" [ngClass]="{'no-chevron' : !item.hasChildren}" [style]="this.optionsService.options.styles?.treeIcon" >
  @if (item.hasChildren) {
    <div class="chevron-container">
      @if (expanded) {
        <i class="bi bi-chevron-down chevron"  [style]="this.optionsService.options.styles?.chevron"></i>
      } @else {
        <i class="bi bi-chevron-right chevron" [style]="this.optionsService.options.styles?.chevron"></i>
      }
    </div>
  }
  <div class="icon-container">
    @if (!!item.icon) {
      <img [src]="item.icon" alt="" class="icon">
    } @else if (item.hasChildren && !item.extension) {
      <i class="bi bi-folder icon"></i>
    } @else if (hasExtension('properties')) {
      <i class="bi bi-gear icon"></i>
    } @else if (item.extension) {
      <i class="bi bi-filetype-{{item.extension.replace('.', '')}} icon"></i>
    } @else {
      <i class="bi bi-file-earmark icon"></i>
    }
  </div>
</div>
